<% var block = options.block %>
<%- block._editable %>

<%  
    var subheading = '';
    if(['Solutions Module', 'Technologies Module'].includes(page.data.component)) {
       subheading = page.title; 
    }
    if(!block.custom_class) {
        block.custom_class = '';
    }
    block.custom_class += block.image ? ' block_main_banner--with_image' : '';
%>

<div class="block_main_banner <%- block.custom_class %>">
	<div class="container block_main_banner__container">
        <% if(subheading){ %>
            <h1 class="block_main_banner__subheading"><%- subheading %></h1>
            <h2 class="block_main_banner__heading heading--h1"><%- block.heading %></h2>
        <% } else { %>
            <h1 class="block_main_banner__heading"><%- block.heading %></h1>
        <% } %>
        <% if(plugins.richText(block.description)){ %>
            <div class="block_main_banner__description wysiwyg"><%- plugins.richText(block.description) %></div>
        <% } %>
    </div>
    <% if(block.image){ %>
        <div class="block_main_banner__image_container">
            <div class="block_main_banner__image_wrapper">
                <div class="block_main_banner__image cover_image">
                    <img src="<%- plugins.imgix(block.image, { q: 60 , w:1300 , auto: 'format' }) %>" alt="<%- block.heading %>">
                </div>
            </div>
        </div>     
    <% } %>
</div>