// HEADER
// ============================
$logo-width: 150px; // [size] Logo Width for Desktop
$logo-width-small: 130px; // [size] Logo Width for Mobile
$banner-background: $primary-color; // [color] Banner Background Color

// Primary Nav
$main-nav-link-color: $white; // [color] Primary Nav Link Color
$main-nav-link-color-hover: $secondary-color; // [color] Primary Nav Link Color on Active or Hover

// Secondary Nav
$secondary-nav-link-color: $primary-color; // [color] Secondary Nav Link Color
$secondary-nav-link-color-active: $secondary-color; // [color] Secondary Nav Link Color on Active or Hover

// FONTS
// ============================

// Font families
$body-font-family: 'Poppins'; // [font_family] Body Font Family
$headings-font-family: 'Poppins'; // [font_family] Headings Font Family

// Font sizes
$global-font-size: 1.0625rem; // [font_size] Global Font Size
$global-font-size-small: 1.125rem; // [font_size] Weight for Normal

// Font weights 
$weight-black: 900; // [font_weight_value] Weight for Black
$weight-extrabold: 800; // [font_weight_value] Weight for Extra Bold
$weight-bold: 700; // [font_weight_value] Weight for Bold
$weight-semibold: 600; // [font_weight_value] Weight for Semibold
$weight-medium: 500; // [font_weight_value] Weight for Medium
$weight-normal: 400; // [font_weight_value] Weight for Normal
$weight-light: 300; // [font_weight_value] Weight for Normal

// Line heights
$global-line-height: 1.75; // [decimal] Global Line Height

// Margins
$global-margin-bottom: 1.35rem; // [font_size] Global Margin Bottom

// 1 - Text & Headings
// ===================
$headings-font-weight: $weight-bold; // [font_weight] Weight for Normal
$headings-line-height: 1.3125; // [decimal] Weight for Normal
$headings-margin-bottom: 0.22em; // [font_size] Weight for Normal
$paragraphs-line-height: 1.5; // [decimal] Weight for Normal

$h1-font-size: 3.875rem; // [font_size] H1 Font Size
$h1-font-size-small: 2.875rem; // [font_size] H1 Font Size Small

$h2-font-size: 2.1875rem; // [font_size] H2 Font Size
$h2-font-size-small: 1.875rem; // [font_size] H2 Font Size Small

$h3-font-size: 1.875rem; // [font_size] H3 Font Size
$h3-font-size-small: 1.475rem; // [font_size] H3 Font Size Small

$h4-font-size: 1.6875rem; // [font_size] H4 Font Size
$h4-font-size-small: 1.475rem; // [font_size] H4 Font Size Small

$h5-font-size: 1.4375rem; // [font_size] H5 Font Size
$h5-font-size-small: 1.4375rem; // [font_size] H5 Font Size Small

$h6-font-size: 1.25rem; // [font_size] H6 Font Size
$h6-font-size-small: 1.25rem; // [font_size] H6 Font Size Small