// ======================================================
// Block Styles
// ============
.block_home_banner {
    $block: &;
    
    // LAYOUT
	// ===========
	background-color: $banner-background;
    padding-top: 212px;
    position: relative;

    @include breakpoint(small down) {
        padding-top: 172px;
    }

    &__container {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    // TEXT
    // ==============
    &__heading {
		color: $white;
        max-width: 817px;
        margin-bottom: 14px;

        @include breakpoint(small down) {
            margin-bottom: 21px;
        }
    }

    &__dot {
        color: $secondary-color;
    }

    &__description {
        max-width: 750px;

        > * {
            color: $white;
            font-size: 1.1875rem;
            line-height: 1.65;

            @include breakpoint(small down) {
                font-size: 1.1875rem;
            }

            b,
            bold {
                color: $primary-color;
            }
        }
    }

    // IMAGE
    // ====================
    &__image_container {
        background: linear-gradient(to bottom, $banner-background 50%, $white 50%);
        margin-top: 94px;
        padding: 0 25px;

        @include breakpoint(small down) {
            margin-top: 55px;
        }
        @include breakpoint(450px down) {
            margin-top: 50px;
        }
    }

    &__image_wrapper {
        @include container(1380px, 0, true);
        height: 669px;
        overflow: visible;
        position: relative;

        @include breakpoint(medium down) {
            height: 400px;
        }
        @include breakpoint(small down) {
            height: 249px;
            margin-left: -8px;
            width: calc(100% + 16px);
        }
    }
}