<% var block = options.block %>
<%- block._editable %>
<div class="form__field_wrapper form__field_wrapper--recaptcha form__field_wrapper--width-<%- block.width %>">
	<div class="recatpcha-container" data-recaptcha></div>
</div>