// ======================================================
// Block Styles
// ============
.block_alternating_panels {
	$block: &;

	&__item {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	&__item:nth-child(odd) {

		#{$block}__wrap {
			@include flexgrid($columns: 500px auto, $spacing: 70px, $breakpoint: large up);
		}
	}

	&__item:nth-child(even) {
		background: $background-color;

		#{$block}__wrap {
			@include flexgrid($columns: 500px auto, $reverse: true, $spacing: 70px, $breakpoint: large up);
		}
	}

	&__wrap {
		display: flex;

		@include breakpoint( medium down ) {
			flex-direction: column;
		}
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__info {

		*:last-child {
			margin: 0;
		}
	}

	&__heading {
		
	}

	&__description {
		
	}

	&__link {
		
	}

	&__image {
		height: 350px;

		@include breakpoint( medium down ) {
			margin-bottom: 20px;
			width: 100%;
		}

		@include breakpoint( small down ) {
			height: 250px;
		}
	}
}